{% extends "layout.twig" %}

{% block content %}

<div class="row container">
    <div class="three col">
        <header class="bk-header">
            <div class="contain">
                {{widget('logo', 'logo', {"defaultlogo": asset('images/logo.png'),"showTplWidget":"0"})|raw}}
                {{widget('companyname', '1864', {"business": "1864"})|raw}}
            </div>
                {% if pages|length > 1 %}
                    {{widget('extendednavigation', 'navigationheader', {})|raw}}
                {% endif %}
            <div class="contain sticktobottom">
                {{widget('socialicons', 'social-icons', {'googleplus': 'https://plus.google.com/101946323226233111530', 'linkedin':'http://www.linkedin.com/company/basekit', 'facebook': 'https://www.facebook.com/TeamBaseKit', 'twitter': 'https://twitter.com/basekit', 'youtube': 'https://www.youtube.com/user/TeamBaseKit', 'rss': 'http://blogdiseno.basekit.es/feed/'})|raw}}
                <h5>{{widget('profile', 'copyright', { 'profileType': 'copyright' })|raw}}</h5>
            </div>
        </header>
    </div>
    <div class="nine col">
        <div role ="main">
            {{zone('main')|raw}}
        </div>     
    </div>
    <footer class="bk-footer">
        <div class="contain social">
            {{widget('socialicons', 'social-icons2', {'googleplus': 'https://plus.google.com/101946323226233111530', 'linkedin':'http://www.linkedin.com/company/basekit', 'facebook': 'https://www.facebook.com/TeamBaseKit', 'twitter': 'https://twitter.com/basekit', 'youtube': 'https://www.youtube.com/user/TeamBaseKit', 'rss': 'http://blogdiseno.basekit.es/feed/'})|raw}}
            <h5>{{widget('profile', 'copyright', { 'profileType': 'copyright' })|raw}}</h5>
        </div>
    </footer>   
</div>

{% endblock %}
